<!DOCTYPE html>
<html>
<head>
  <title>TeamApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <button>
      <%= link_to "Home", home_path, class:"navbar-text" %> 
      </button>
      <button class="btn-info">
      <%= link_to "Log Out", logout_path, method: :delete%>
      </button>
    </div>
  </div>


<%= yield %>

</body>
</html>
